.shadow{
box-shadow: 5px 5px  5px #888888;
}

.container {
	width: 280px;
	border: 1px solid grey;
	border-radius: 15px;
	margin-top: 50px;
	background-color: LightBlue;
	padding-bottom: 10px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#numbers{
	text-align: right;
}

#total{
	text-align: right;
}

.btn {
	min-width: 42.91px;
	}

#screen{
	border: 1px solid grey;
	border-radius: 15px;
	background-color: white;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	}