.shadow{
box-shadow: 5px 5px  5px #888888;
}

.container {
	width: 280px;
	border: 1px solid grey;
	border-radius: 15px;
	margin-top: 50px;
	background-color: LightBlue;
	padding-bottom: 10px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}


.btn {
	min-width: 42.91px;
	
}

#screen{
	border: 1px solid grey;
	border-radius: 15px;
	background-color: white;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}